@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css?family=Anaheim|Doppio+One|Harmattan|NTR|Palanquin+Dark:400,500|Work+Sans');

.btn-regular {
  width: 11.125em;
  height: 3.75em;

  /* accent */
  @apply bg-accent text-white;
  font-family: 'Palanquin Dark', system-ui;
  font-weight: 400;
  font-size: 1.5em;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, 0.1);
  border-radius: .375em;
}

.btn-regular-inverted {
  @apply btn-regular;
  @apply bg-white;
  color: #3F80F2;
}

.footnote {
  font-family: 'Anaheim', system-ui;
  font-weight: 400;
  font-size: 0.8125em;
  color: rgba(config('colors.sub'), 0.5);
}

.footnote-inverted {
  @apply footnote;
  color: white;
}

/* .title {
  @apply block w-full text-accent;
  font-family: 'Palanquin Dark', system-ui;
  font-size: 3.75em;
  font-weight: 500;
}

.title-inverted {
  @apply title;
  @apply text-white;
} */